<!DOCTYPE html>
<html>
<head>
    <title>Operação Conquistar Maricota</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body style="background:black; color:#00ff00; text-align:center; font-family:Courier New;">

<div style="border:2px solid #00ff00; padding:50px; width:60%; margin:auto; margin-top:100px; box-shadow:0 0 20px #00ff00;">

<h1>Bem-vindo a Operação Conquistar Maricota</h1>

<br>

<a href="/missao" style="color:#00ff00; text-decoration:none; border:1px solid #00ff00; padding:10px 20px;">
ENTRAR
</a>

</div>